/* Typology */


@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Quicksand:wght@300..700&display=swap');

/* Varible */

:root{

    /* Colors */

    --first-color:#D8E3C7;
    --second-color:#485C35;
    --third-color:#879767;

    /* Typology */

    --main-typo:"Quicksand", sans-serif;
    --second-typo:"Indie Flower", serif;
}

