.main{
    padding: 66px 0;
}

.carousel-container{
    width: 100%;
    display: flex;
    height: 100vh;
}

.carousel-container .text-carousel{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    color: var(--second-color);
    padding: 10px;
    text-align: center;
}

.carousel-container .text-carousel h2{
    font-size: 34px;
}

.carousel-container .carousel{
    width: 50%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    cursor: pointer;

}

.carousel-container .carousel .btn {
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.488);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;

}

.carousel-container .carousel .btn img{
    width: 30px;
}

.carousel-container .carousel .btn.before{
    left: 5px;
}

.carousel-container .carousel .btn.after{
    right: 5px;
}

.carousel-container .carousel .carousel-image{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 
    opacity 0.4s ease-in-out,
    transform 0.2s ease-in-out,
    filter 0.2s ease-in-out ;
    object-fit:cover;
    object-position: left;
    
}
.carousel-container .carousel .carousel-image.active{
    opacity: 1;
    z-index: 1;
}

.carousel-container .carousel .title-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    z-index: 1;
    display: flex;
    justify-content: center;
    font-size: 30px;
    align-items: center;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    text-align: center;
    color: rgb(255, 255, 255);
}

.carousel-container .carousel .title-img.active{
    opacity: 1;
}

.review{
    width: 100%;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.review .randomReview{
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    background-color: var(--second-color);
    z-index: 1;
    margin: 70px 0;
    border-radius: 10px;
    overflow-y: scroll;

}
 
.reviewForm{
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    gap: 10px;
}

.reviewForm .reviewName, .reviewForm .reviewInput{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.reviewForm .reviewName input, .reviewForm .reviewInput textarea{
    background-color: var(--second-color);
    color: var(--first-color);
    font-size: 16px;
    padding: 10px;
    
}

.reviewForm .starReviewContainer{
    display: flex;
    align-self: self-start;
    flex-direction: row-reverse;
}

.reviewForm .starReviewContainer input{
    display: none;
}

.reviewForm .starReviewContainer svg{
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    
}

.reviewForm .starReviewContainer input:checked ~ .star svg{
    fill: #dac50a;
    transition: all .2s ease-in-out;

}

.reviewForm .starReviewContainer input:hover ~ .star svg{
    fill: #dac50a;
    transition: all .2s ease-in-out;
}

.reviewForm .reviewSubmit input{
    padding: 10px;
    background-color: var(--second-color);
    color: var(--first-color);
    cursor: pointer;
}




/* Hover effects*/

.carousel-container .carousel:hover .carousel-image.active{
    transform: scale(1.05);
    filter: blur(4px);
}

/* Media querry */

@media (max-width: 700px) {
    .carousel-container{
        flex-direction: column;
        height: 100vh;
    }
    .carousel-container .text-carousel{
        width: 100%;
        margin: 30px 0;
    }
    .carousel-container .carousel{
        width: 100%;
        height: 100%;
    }
    .carousel-container2{
        flex-direction: column-reverse;
    }
    .carousel-container .carousel:hover .carousel-image.active{
        transform: none;
        filter: none;
    }
}

/* Keyframes */

@keyframes pulse {
    from, to { transform: scale(1, 1); }
    25% { transform: scale(0.9, 1.1); }
    50% { transform: scale(1.1, 0.9); }
    75% { transform: scale(0.95, 1.05); }
  }

  @keyframes comingtop {
    from { transform:translateY(-200px); }
  to { transform:translateY(0px); }
    
  }
  
  @keyframes comingdown {
    from { transform:translateY(200px); }
  to { transform:translateY(0px); }
    
  }


  @keyframes fade-in {
    from { scale: 0; }
  to { scale: 1; }
    
  }
