/* All services */

#scrolldown{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardsContainer{
    width: 100%;
    margin: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.cardsContainer .cards{
    z-index: 4;
    position: relative;
    transition: all .2s ease-in-out;
}

.cardsContainer .cards h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: var(--first-color);
    background-color: rgba(0, 0, 0, 0.229);
    text-align: center;
    
    
}

.cardsContainer .cards img{
    width: 320px;
    height: 450px;
    object-fit: cover;
    border: 1px solid black;
    max-width: 320px;
}

.cardsContainer:hover .cards:not(:hover){
    filter: blur(1px);
    scale: 0.95;
}

.cardsContainer .cards:hover{
    scale: 1.05;
}

@media (max-width: 700px) {
    #scrolldown{
        height:auto;
    }
}

/* One service */

.cardIndivContainer{
    width: 100%;
    color: var(--first-color);
}

.cardIndivContainer > *{
    text-align: center;
}

.cardIndivContainer .indivImg{
    width: 100%;
}

.cardIndivContainer .indivImg img{
    border: 2px solid var(--second-color);
    object-fit: cover;
    object-position: bottom;
    height: 70vh;
    width: 100%;
}



.cardIndivContainer .indivContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transform: translateY(-200px);
    z-index: 4;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.169);
}
.cardIndivContainer a{
    width: auto;
}
.cardIndivContainer .indivCta{
    transition: all 0.2s ease;
    padding: 5px;
    border-radius: 4px;
}

.cardIndivContainer:hover .indivContent{
    z-index: 6;
}

.cardIndivContainer .indivCta:hover{
    color: var(--second-color);
    background-color: rgba(255, 255, 255, 0.557);

}


@media (max-width: 700px) {
    .cardIndivContainer .indivContent{
        transform: translateY(-250px);

    }
}