main{
    padding-top: 100px;
}

.cardsContainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
    flex-wrap: wrap;
}

.cardsContainer .cards{
    z-index: 4;
    position: relative;
    transition: all .4s ease-in-out;
}

.cardsContainer .cards h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: var(--first-color);
    background-color: rgba(0, 0, 0, 0.229);
    
}

.cardsContainer .cards img{
    border: 1px solid black;
    max-width: 320px;
}

.cardsContainer:hover .cards:not(:hover){
    filter: blur(4px);
}

.cardsContainer .cards:hover{
    scale: 1.05;
}

